$bgColor: rgb(243, 222, 222);
$btnColor: #a0cff0;
$labelColor: rgb(97, 92, 92);
$btnColor: rgb(196, 206, 238);
$btnHoverColor: rgb(109, 172, 245);
$headerColor: rgb(236, 61, 90);
$cardColor: pink;
$footerColor: #443e3e;

h2 {
  color: $headerColor;
  font-family: sans-serif;
  justify-content: center;
  text-align: center;
  padding-top: 5px;
}
h4 {
  margin-top: 10%;
  text-align: center;
}

label {
  color: $labelColor;
  margin-right: 5px;
  font-size: 14px;
}

.header {
  align-items: center;
  box-shadow: 0 0 10px 0 black;
  border-radius: 5px;
  margin-top: -23px;
  padding: 0 1% 1%;
}

.searcher {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2%;

  &__pagination {
    display: flex;
    gap: 5px;
    &__dropdown {
      height: 30px;
      background-color: $btnColor;
    }

    &__txtbox {
      max-width: 63px;
    }

    button {
      border: 0;
      background-color: $bgColor;

      :hover {
        background-color: $headerColor;
      }
    }
  }

  &__search {
    flex-grow: 1;
    display: flex;

    &__txtbox {
      flex-grow: 1;
      min-width: 35%;
    }

    &__btn {
      height: 25px;
      border-radius: 5px;
      background-color: $btnColor;
      margin-left: 5px;

      &:hover {
        background-color: $btnHoverColor;
      }
    }
  }
}

.card {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  height: 82vh;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 14px;

  &__info {
    background-color: $cardColor;
    width: 45%;
    border-radius: 8px;
    margin: 1% 0;
    transition: 0.3s;
    padding: 10px;

    &__title {
      text-align: center;
      padding: 10px;
      &__name {
        font-size: 20px;
        text-decoration: underline;
      }
    }

    &__footer {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      color: $footerColor;
      font-size: 12px;
    }

    :hover {
      transform: scale(1.05);
      padding: 1.03px 10.3px;
    }

    &-hidden {
      background-color: red;
      width: 45%;
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 450px) {
  h2 {
    font-size: 6vw;
    padding-top: 15px;
  }
  .searcher {
    &__search {
      order: 1;
    }
    &__sort {
      margin-top: 6px;
      order: 2;
    }
    &__pagination {
      margin-top: 6px;
      order: 3;
      display: grid;
    }
  }
  .card {
    height: 65vh;
    &__info {
      width: 85%;
    }
  }
}
