<div class="container">
  <app-searchbar
    (sortReposEvent)="sortRepos($event)"
    (searchReposEvent)="searchRepos($event)"
    (itemPerPageChangeEvent)="itemPerPageChange($event)"
    (changePageEvent)="changePage($event)"
    [sortCriteria]="sortCriteria"
    [itemPerPage]="itemPerPage"
    [noOfPages]="noOfPages"
    [repoSearchString]="repoSearchString"
    [page]="page"
  ></app-searchbar>

  <div *ngIf="repos">
    <h4 *ngIf="repos[0] == 'null'">Loading Data. Please wait!!!</h4>
    <h4 *ngIf="repos[0] == 'no data'">No data found!!!</h4>

    <app-repo-cards
      *ngIf="repos[0] != 'null' && repos[0] != 'no data'"
      [repos]="repos"
      [oddNoData]="oddNoData"
    ></app-repo-cards>
  </div>
</div>
