$btnColor: rgb(196, 206, 238);
$btnHoverColor: rgb(109, 172, 245);

.searcher {
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    width: 37%;
    height: 35px;
  }

  button {
    height: 35px;
    width: 80px;
    border-radius: 8px;
    margin-left: 20px;
    background-color: $btnColor;

    &:hover {
      background-color: $btnHoverColor;
    }
  }
}
