$cardColor: pink;
$footerColor: #443e3e;

.card {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
  height: 82vh;
  overflow-y: auto;
  overflow-x: auto;
  font-size: 14px;

  &__info {
    background-color: $cardColor;
    width: 45%;
    border-radius: 8px;
    margin: 1% 0;
    transition: 0.3s;
    padding: 10px;

    &__title {
      text-align: center;
      padding: 10px;
      &__name {
        font-size: 20px;
        text-decoration: underline;
      }
    }

    &__footer {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      color: $footerColor;
      font-size: 12px;
    }

    :hover {
      transform: scale(1.05);
      padding: 1.03px 10.3px;
    }

    &-hidden {
      width: 45%;
      visibility: hidden;
    }
  }
}

@media screen and (max-width: 450px) {
  .card {
    height: 65vh;
    &__info {
      width: 85%;
    }
  }
}
